@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,900;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Chivo:wght@900&family=Coda:wght@800&family=Heebo:wght@900&family=Open+Sans:wght@800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
/* Combine these ^^ */
/* Organize this doc */
/* Spell-check */


	/* font-family: 'Chivo', sans-serif;
	font-family: 'Coda', cursive;
	font-family: 'Heebo', sans-serif;
	font-family: 'Open Sans', sans-serif; */


*, *::before, *::after {
	box-sizing: border-box;
}
:root {
	/* Colours */
	--col: #d9b035;
	/* ffc107 */
}
/* ::selection { background-color: var(--col); color: #111; }
a::selection { color: #111; } */
html {
	scroll-behavior: smooth;
	min-height: 100%;
}
/* html, body {
	height: 100%;
} */
body {
	background-color: #222028;
	/* Options:
			#30304f
			#353a42
			#191522
			#1f1d24
			#222028
	*/


	/* background-image: linear-gradient(67deg, rgba(242,242,241,1) 0%, rgba(226,229,231,1) 100%); */
	/* background-image: linear-gradient(90deg, rgba(32,33,38,1) 0%, rgba(10,13,20,1) 100%); */
	/* background-image: linear-gradient(180deg, rgb(213, 183, 14) 0%, #b5dd57 100%); */
	background-image: linear-gradient(180deg, #222028 0%, #353a42 100%);
	/* background-attachment: fixed; */
	background-size: 100% 100%;
	color: #111;
	margin: 0;
	/*font-family: 'Open Sans', Arial, Helvetica, sans-serif;*/ /* Start with base set, add "Open Sans" ahead of it */
	font-family: Georgia, 'Times New Roman', Times, serif;
	line-height: 1.5;
}
a {
	color: var(--col);
	font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Exo', Arial, Helvetica, sans-serif;
	line-height: 1;
}

.img-fluid {
	max-width: 100%;
}

.section-heading {
/* .main-content h2 { */
	/* color: rgba(32,33,38,1); */
	/* background-color: var(--col); */
	/* border-bottom: 0.125rem solid #222028; */
	/* color: #222028; */
	text-transform: uppercase;
	font-size: 1.25rem;
}

.recipe-intro {
	background-color: #676975;
	background-blend-mode: multiply;

	/* Explain this as a common set, but don't get into detail about each */
	background-image: url('../img/7.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	/* box-sizing is an issue here because of padding */
	/* height: 100vh;  */
	padding: 1rem;
	/* margin: 0 1rem; */
	position: relative;
	color: #ffffff;
}

.main-content {
	background-color: #ffffff;
	padding-bottom: 1rem;
	/* padding: 1em 0; */
	/* margin: 1rem; */
	/* padding: 1em; */
}

.recipe-category {
	background-color: var(--col);
	color: #111;
	padding: 0.1rem;
	font-size: 0.8rem;
	font-weight: 700;
}


.recipe-name {
	font-family: 'Exo', Arial, Helvetica, sans-serif;
	/* text-transform: uppercase; */
	font-size: 2.5rem;
	font-weight: 900;
	line-height: 1;
	margin: 1rem 0;
	/* letter-spacing: -0.05rem; */ /* like a % */
}
.recipe-lead {
	margin: 2rem 0;
}
.recipe-desc {
	/* font-style: italic; */
	font-size: 1.25rem;
}

.item-list {
	padding-left: 1.125em;
}

/* unit, area, segment, section, sub, branch, region */


.content-region {  /* .main-content > section { } */
	padding: 1rem;
	/* border-bottom: 1px solid #eee; */
}

.content-region h3 {
	font-size: 1rem;
}

.navigation {
	background-color: #222028;
	margin-bottom: 1rem;
}
.recipe-menu {
	list-style: none;
	padding: 0;
	/* display: flex; */
	font-family: 'Exo', Arial, Helvetica, sans-serif;
}
.menu-item {
	margin-right: 1rem;
}
.menu-item-link {
	text-decoration: none;
	/* anchor MUST be directly styled, pr */
}
.menu-item-link:hover {
	color: #111;
	background-color: var(--col);
}

.recipe-stats {
	list-style: none;
	padding: 0;
	/* display: flex; */
	/* justify-content: space-between; */
	/* text-align: center; */
	margin: 2rem 0;
	text-transform: uppercase;
	font-family: 'Exo', Arial, Helvetica, sans-serif;
	/* font-size: 0.7rem; */
}
/* .recipe-stats li {
	flex-basis: 5rem;
} */

.stat-value {
	background-color: var(--col);
	color: #111;
	padding: 0 0.25rem;
}

/* .content-region:nth-child(odd) {
	background-color: var(--col);
} */

.main-content .content-region:last-of-type p:last-of-type::after {
	content: " 🥖";
}

@media screen and (min-width: 40rem)  {
	html {
		font-size: 1.2rem;
	}
}
@media screen and (min-width: 60rem)  {

	/* .main-content {
		display: grid;
		grid-template-columns: 15em auto;
	} */
	.recipe-intro {
		height: auto;
		padding: 1rem 2rem 4rem;
	}

	.recipe-menu {
		display: flex;
		justify-content: space-between;
	}
	.recipe-lead {
		width: 70%;
	}
	.recipe-name {
		font-size: 3.5rem;
	}

	.recipe-stats {
		display: flex;
		justify-content: space-between;
		text-align: center;
		font-size: 0.7rem;
	}
	.stat-value {
		display: block;
		padding: 0.25rem;
		font-size: 0.8rem;
	}

	.container {
		max-width: 50rem;
		margin: 0 auto;
		/* background-color: blue; */
		/* padding: 0 1rem; */
	}
	.main-content {
		padding-left: 15rem;
		position: relative;
		max-width: 50rem;
		margin: 1em auto; /*replaces above */
		margin-top: -3rem;
		box-shadow: 0 0 2em rgba(0,0,0,0.25);
	}
	.content-region { 
		padding: 1rem 2rem;
	}

	.sidebar {
		position: absolute;
		left: 0;
		top: 0;
		width: 15rem;
		padding: 1em 0;
		min-height: 100%;
		background-color: rgb(228, 233, 235);
		background-color: var(--col);
		/* color: #000; */
	}
	.upper-first::first-letter {
		/* .content-region p:first-of-type::first-letter { */
		font-size: 2.95rem; /* each line is 1.5 * 1em = 3em */
		line-height: 1; /* that's why this has to be 1 */
			/* NOPE! When the font-size of the body increase, the math somehow is off */
		float: left; /* this knocks vertical align out */
		letter-spacing: 0.25rem; /* space the right side */
		/* color: red; */
		/* background-color: #999; */
	}
}
