@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&display=swap');

/* TODO
- Spell check
- Rename classes
- Resort document
- Replace all "em" with "rem"
- Confirm variable names
- Confirm link colours
- Figures?
*/

*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	/* 
	#bf3f38
	#d95959 
	#BF8A0E
	#19a85c
	#11a694
	#b074c7
	*/
	--col-a: #ffbc48;
	--col-a-on: #0e0e0e; 

	/* --col-b: #1f1d24;
	--col-c: #404149; */

	--col-b: #222028;
	--col-c: #353a42;

	--col-d: #ffffff;
	--col-d-on: #111111;

	--font-a: Georgia, 'Times New Roman', Times, serif;
	--font-b: 'Fira Sans', Arial, Helvetica, sans-serif;

}
/* ::selection { background-color: var(--col-a); color: #111; }
a::selection { color: #111; } */
html {
	scroll-behavior: smooth;
	min-height: 100%;
}

body {
	background-color: var(--col-b);
	background-image: linear-gradient(180deg, var(--col-b) 0%, var(--col-c) 100%);
	color: var(--col-a-on); /* careful here with the mismatched foreground/background (a vs b) */
	margin: 0;
	font-family: var(--font-a); 
	line-height: 1.5;
}
a {
	color: var(--col-a);
	/* color: #993B00; */
	font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-b); /* Start with base set, add "Open Sans" ahead of it */
	line-height: 1;
	margin: 1rem 0;
}

.img-fluid {
	max-width: 100%;
}

.section-heading {
	text-transform: uppercase;
	font-size: 1.25rem;
}

.recipe-intro {
	background-color: var(--col-c);
	background-blend-mode: multiply;

	/* Explain this as a common set, but don't get into detail about each */
	background-image: url('../img/7.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	padding: 1rem;
	position: relative;
	color: #ffffff;
}

.main-content {
	background-color: #ffffff;
	padding-bottom: 1rem;
}

.recipe-category {
	background-color: var(--col-a);
	color: #111;
	padding: 0.1rem;
	font-size: 0.8rem;
	font-weight: 700;
}


.recipe-name {
	font-family: var(--font-b);
	font-size: 2.5rem;
	font-weight: 900;
	line-height: 1;
	margin: 1rem 0;
}
.recipe-lead {
	margin: 2rem 0;
}
.recipe-desc {
	font-size: 1.25rem;
}

.item-list {
	padding-left: 1.125em;
}

/* unit, area, segment, section, sub, branch, region */


.content-region {  /* .main-content > section { } */
	padding: 1rem;
	/* border-bottom: 1px solid #eee; */
}

.content-region h3 {
	font-size: 1rem;
}

.navigation {
	background-color: var(--col-b);
	margin-bottom: 1rem;
}
.recipe-menu {
	list-style: none;
	padding: 0;
	/* display: flex; */
	font-family: var(--font-b);
}
.menu-item {
	margin-right: 1rem;
}
.menu-item-link {
	text-decoration: none;
	/* anchor MUST be directly styled, pr */
}
.menu-item-link:hover {
	color: #111;
	background-color: var(--col-a);
}

.recipe-stats {
	list-style: none;
	padding: 0;
	margin: 2rem 0;
	text-transform: uppercase;
	font-family: var(--font-b);
	/* font-size: 0.7rem; */
}

.stat-value {
	background-color: var(--col-a);
	color: #111;
	padding: 0 0.25rem;
}


.main-content .content-region:last-of-type p:last-of-type::after {
	content: " ❤️";
}

@media screen and (min-width: 40rem)  {
	html {
		font-size: 1.2rem;
	}
}
@media screen and (min-width: 60rem)  {

	.recipe-intro {
		height: auto;
		padding: 1rem 2rem 4rem;
	}

	.recipe-menu {
		display: flex;
		justify-content: space-between;
	}
	.recipe-lead {
		width: 70%;
	}
	.recipe-name {
		font-size: 3.5rem;
	}

	.recipe-stats {
		display: flex;
		justify-content: space-between;
		text-align: center;
		font-size: 0.7rem;
	}
	.stat-value {
		display: block;
		padding: 0.25rem;
		font-size: 0.8rem;
	}

	.container {
		max-width: 50rem;
		margin: 0 auto;
		/* background-color: blue; */
		/* padding: 0 1rem; */
	}
	.main-content {
		padding-left: 15rem;
		position: relative;
		max-width: 50rem;
		margin: 1em auto; /*replaces above */
		margin-top: -3rem;
		box-shadow: 0 0 2em rgba(0,0,0,0.5);
	}
	.content-region { 
		padding: 1rem 2rem;
	}

	.sidebar {
		position: absolute;
		left: 0;
		top: 0;
		width: 15rem;
		padding: 1em 0;
		min-height: 100%;
		background-color: var(--col-a);
		/* color: #000; */
	}
	.upper-first::first-letter {
		/* .content-region p:first-of-type::first-letter { */
		font-size: 2.95rem; /* each line is 1.5 * 1em = 3em */
		line-height: 1; /* that's why this has to be 1 */
			/* NOPE! When the font-size of the body increase, the math somehow is off */
		float: left; /* this knocks vertical align out */
		letter-spacing: 0.25rem; /* space the right side */
		/* color: red; */
		/* background-color: #999; */
	}
}
